.btn{
     
     background-color: skyblue;
      color: white;
       height: 50px;
        width: 120px;
        border: none;
         border-radius: 5px;
      text-transform: uppercase;" 

}
.heading{color: tomato;
 background-color:black;
   text-align: center;
    letter-spacing: 5px;
font-size: 50px"}